<!DOCTYPE html>
<html>
<head>
  <title>DvdRentalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="site-container">
    <div id="top-header">
      <div class="slogan">DVD Rental Shop</div>
      <div>Hello guest?</div>
      <div class="clear"></div>
    </div>
    <div id="content-block">
      <div class="left">
        <div class="menu-container">
          <div class="menu-caption">MAIN MENU</div>
          <ul class="left-menu">
            <li><%= link_to 'Home',root_path %></li>
            <li><%= link_to 'Dvds', '/dvds'  %></li>
            <li>Login</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div id="app-msg">Here comes app message!</div>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="footer-text">&copy; DVD Rental Shop, 2014</div>
    </div>
</div>

</body>
</html>
