<p>
  <strong>Dvd:</strong>
  <%= link_to (@rental.dvd.title + ', ' + @rental.dvd.year.to_s), @rental.dvd %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to (@rental.user.name + ' ' + @rental.user.surname) , @rental.user %>
</p>

<p>
  <strong>Rent date:</strong>
  <%= @rental.rent_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @rental.return_date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @rental.total_price %>
</p>

<p>
  <strong>Returned:</strong>
  <% if @rental.returned? %>
      Yes
  <% else %>
      No
  <% end %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
