<p id="notice"><%= notice %></p>

<p>
  <strong>Dvd:</strong>
  <%= @rental.dvd_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Rent date:</strong>
  <%= @rental.rent_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @rental.return_date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @rental.total_price %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @rental.returned %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
